/* src/App.css */
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-top: 10px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  .input{
    width: 270px;
    border-radius: 4px;
  }
  .m-b-8{
    margin-bottom: 8px;
  }
  .m-l-12{
    margin-left: 12px
  }
  .forgot_pasword{
    margin-left:40px;
  }
  .img1{
    position: absolute;
    bottom: 46px;
  }
  .card-body.height_two {
    max-height: 330px !important;
}
.m-t-8{
    margin-top: 8px;
}